// Variables

$cdn: '';
$pointUp: 'sm';
$pointDown: 'xs';

$body-bg: $black;
$body-color: $white;

$font-size-base: 1.6rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px,
  xxxl: 1800px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px,
  xxxl: 1740px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");
