// Spinner

.spinner {
  &-dark {
    .ldio-w7vp5azzy7 div > div {
      background: $black;
    }
  }

  &-light {
    .ldio-w7vp5azzy7 div > div {
      background: $white;
    }
  }

  .ldio-w7vp5azzy7 div > div {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: ldio-w7vp5azzy7 0.8333333333333333s linear infinite;
  }

  .ldio-w7vp5azzy7 div:nth-child(1) > div {
    left: 74px;
    top: 44px;
    animation-delay: -0.7291666666666665s;
  }

  .ldio-w7vp5azzy7 > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 80px 50px;
  }

  .ldio-w7vp5azzy7 div:nth-child(2) > div {
    left: 65px;
    top: 65px;
    animation-delay: -0.6249999999999999s;
  }

  .ldio-w7vp5azzy7 > div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 71px 71px;
  }

  .ldio-w7vp5azzy7 div:nth-child(3) > div {
    left: 44px;
    top: 74px;
    animation-delay: -0.5208333333333333s;
  }

  .ldio-w7vp5azzy7 > div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 50px 80px;
  }

  .ldio-w7vp5azzy7 div:nth-child(4) > div {
    left: 23px;
    top: 65px;
    animation-delay: -0.41666666666666663s;
  }

  .ldio-w7vp5azzy7 > div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 29px 71px;
  }

  .ldio-w7vp5azzy7 div:nth-child(5) > div {
    left: 14px;
    top: 44px;
    animation-delay: -0.31249999999999994s;
  }

  .ldio-w7vp5azzy7 > div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 20px 50px;
  }

  .ldio-w7vp5azzy7 div:nth-child(6) > div {
    left: 23px;
    top: 23px;
    animation-delay: -0.20833333333333331s;
  }

  .ldio-w7vp5azzy7 > div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 29px 29px;
  }

  .ldio-w7vp5azzy7 div:nth-child(7) > div {
    left: 44px;
    top: 14px;
    animation-delay: -0.10416666666666666s;
  }

  .ldio-w7vp5azzy7 > div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 50px 20px;
  }

  .ldio-w7vp5azzy7 div:nth-child(8) > div {
    left: 65px;
    top: 23px;
    animation-delay: 0s;
  }

  .ldio-w7vp5azzy7 > div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 71px 29px;
  }

  .loadingio-spinner-spin-e8oyp2k9pg4 {
    width: 64px;
    height: 64px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }

  .ldio-w7vp5azzy7 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.64);
    backface-visibility: hidden;
    transform-origin: 0 0;
  }

  .ldio-w7vp5azzy7 div {
    box-sizing: content-box;
  }
}

@keyframes ldio-w7vp5azzy7 {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
